flask
psycopg2-binary
flask-cors
flask_bcrypt
requests
streamlit
streamlit_chat
langchain
langchain_openai
sentence_transformers
PyPDF2
bs4
pinecone
langchain-community
gTTS
transformers
openai
pydantic
tiktoken
beautifulsoup4
duckduckgo-search
